body {
  margin: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAElJREFUKFNjZCASMILU/fr16z+IZmNjA/NhAFkcrhBdEbJikByKCTDTQRIg05A1Y1iFy2QME9GthPGxmohuLUgxaZ4hOniICXMA/6U4CzEdf54AAAAASUVORK5CYII=
  ) repeat;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #232c33;
  font-size: xxx-large;
}

h2 {
  color: #232c33;
  font-size: xx-large;
}

h3 {
  color: #0050c1;
  font-size: x-large;
}

h4 {
  color: #232c33;
  font-size: large;
}

p {
  color: #232c33;
}

a {
  color: #0050c1;
}

/*Nav Bar*/
.topbar {
  background-color: #232c33;
  position: relative;
  display: flex;
}

.topnav {
  background-color: #232c33;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  text-align: center;
  padding: 14px 16px;
}

.topnav a {
  color: #f3f5f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #f3f5f7;
  color: #232c33;
}

.topnav .active {
  font-weight: bold;
}

/*Hero Content*/

.hero {
  position: relative;
  padding: 0;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 100px;
  font-size: 48px;
  padding: 0px;
  line-height: .5;
}

.hero img {
  height: auto;
  opacity: .65;
}

.hero p {
  margin-left: 20px;
  margin-top: 0px;
  color: #0050c1;
}

.hero a {
  color: #232c33;
}

/*Main Content*/
.content {
  position: relative;
  background-color: #FFFFFF;
  padding: 10%;
  padding-bottom: 10px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.content a {
  color: #232c33;
}

.content button {
  background-color: #232c33;
  color: #f3f5f7;
  font-size: large;
  padding: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/*Gallery Flexbox*/

.flex-gal {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.gal-item {
  background-color: #f3f5f7;
  padding: 10px;
  flex: 30%;
}

/*Project Page*/

.proj img {
  display: block;
  margin: auto;
}

/*Bio Flexbox*/

.bio-box {
  display: flex;
  flex-wrap: wrap;
}

.bio-left {
flex: 50%;
}

.bio-left img {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 0px;
  border: none;
}

.bio-right {
  flex: 40%;
  padding-left: 20px;
  justify-content: flex-start;
}

/*Footer*/
.footer {
  display: block;
  background-color: #232c33;
  text-align: right;
  padding: 5px;
}

.footer a {
  color: #f3f5f7;
}

.footer p {
  color: #f3f5f7;
  margin-right: 10px;
}

/*Responsive*/

@media (max-width: 700px) {
  .topnav {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .topnav a{
    margin: auto;
    width: 100%;
  }

  .footer {
    margin: auto;
    text-align: center;
  }

  .content {
    width: 95%;
    padding: 2.5%;
  }

  .bio-left {
    flex: 100%;
  }

  .bio-left img {
    margin: auto;
  }

  .bio-right {
    flex: 100%;
  }

  .gal-item {
    flex: 100%;
  }

  .hero-overlay {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    width: auto;
  }
}
